

table {
  border-collapse: collapse;
  width: 100%;
  position: relative;
  top: 80px;
}
td:nth-child(4),
td:nth-child(5),
th {
  white-space: nowrap;
}
td,
th {
  border-left: 1px solid #bbbbbb;
  text-align: left;
  padding: 8px;
}

th {
  border: none;
}

td:first-child,
th:first-child {
  border-left: none;
}

th {
  background-color: #f2be12;
}

tr:nth-child(even) {
  background-color: #292929;
}
input.largerCheckbox {
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
  left: 5px;
  cursor: pointer;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
}

.sidenav {
  height: 90%;
  width: 220px;
  position: fixed;
  z-index: 0;
  bottom: 0;
  left: 0;
  background-color: #292929;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 10px;
}

.sidenav label {
  padding-top: 8px;
  padding-bottom: 9px;
  text-decoration: none;
  font-size: 20px;
  color: #d6d6d6;
  display: inline-block;
}

.sidenav input {
  margin: 2px;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: none;
  background-color: #f1f1f1;
}

.sidenav input[type="text"] {
  width: 86%;
}

.sidenav input[type="text"]:focus {
  background-color: #f9e8af;
  outline: none;
}

.sidenav button {
  width: 93%;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 3px;
  border-radius: 4px;
  border: none;
  padding: 6px;
  background-color: #f2d05e;
  cursor: pointer;
}

#sub_button {
  background-color: #f2be12;
}

#sub_button:active {
  background-color: #1246f2;
}

#demo {
  margin-left: 220px; /* Same as the width of the sidenav */
  font-size: 16px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav label {
    font-size: 18px;
  }
}
